{% extends "base_site.html" %}
{% block title %}Job Generation{% endblock %}
{% block content %}
		<h2>Generate specific job</h2><p id="ajaxLoad"></p>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jobgen.js"></script>
		
		{% if jcform %}
		<form>
			<table>
				{{ jcform.as_table }}
			</table>
		</form>
		{% endif %}
		<form action="/jobgen/go/" method="post">{% csrf_token %}
			<table>
				{{jform.as_table}}
			</table>
		<input type="submit" value="Submit" />
		</form>
		<h2>Generate suite</h2>
		<form action="/suitegen/go/" method="post">{% csrf_token %}
			<table>
				{{sform}}
			</table>
		<input type="submit" value="Submit" />
		</form>
		
		{% if benchmarks %}
		<h2 class="benchmarktitle">Benchmark Table</h2>
		
		<table class="benchmarks">
			<tr>
				<th id="modelsort" class="sort">Model</th>
				<th id="statessort" class="sort">States</th>
				<th id="runtimesort" class="sort">Runtime</th>
				<th id="memorysort" class="sort">Memory (RSS)</th>
				<th id="finishedsort" class="sort">Finished</th>
			</tr>
			{% for b in benchmarks %}
			<tr>
				<td>{{ b.model }}</td>
				<td>{{ b.states_count }}</td>
				<td>{{ b.total_time }}</td>
				<td>{{ b.memory_RSS }}</td>
				<td>{{ b.finished|yesno }}</td>
			</tr>
			{% endfor %}
		</table>
		
		{% endif %}
{% endblock %}
