{% extends "base_site.html" %}
{% block title %}Upload Tool{% endblock %}
{% block content %}
		<!-- javascript for testing regex -->
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/regex_tester.js"></script>
		<h2>Upload Tool<span id="ajaxLoad"></span></h2>
		{% if error %}
			{{ error }}
		{% endif %}
		<form action="{% url benchmarks.views.tool_upload %}" method="post">{% csrf_token %}
				<table>{{ form.as_table }}</table>
			<input type="submit" name= "submit" value="Submit" />
		</form>
		
		<a name="test"></a><h3 style="margin-top:10px;">Test regular expression</h3>
		<p>Use this field in conjunction with the "test regex" button below to test your regular expression on a log. The generated data is presented in the field below when the button is clicked.</p>
		<form>
			<div style="float:left; margin-right:5px;">
				<p><label for="id_test_log">Test log (optional):</label></p>
				<textarea style="width:325px;" id="id_test_log" name="test_log"></textarea>
			</div>
			<div>
				<p><label for="id_log_check">Result of the test log:</label></p>
				<textarea style="width:325px;"  id="id_log_check" name="log_check"></textarea>
				
				<button type="button" id="testregex">Test regex</button>
			</div>
			<div style="float:none;clear:both;"></div>
		
		</form>
{% endblock %}
